@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #2B2B2B;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #CAFFCC;
    --cor-quaternaria: #272727;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.invisivel{
    display: none;
}

body {
    background-color: var(--cor-primaria);
    border-radius: 2rem;
    color: var(--cor-secundaria);
}

#fundo {
    background-color: var(--cor-primaria);
    position:absolute; top:0px; left:80px;
    width: 90%;
    opacity: 3%;
    filter: grayscale(40%);
}

.cabecalho {
    position: relative;
    margin-left: 15%;
}

.menu__list {
    display: flex;
    width: 758px;
    margin-top: 49px;
    gap: 6.25rem;
    list-style-type:none;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu__list__mobile{
    display: none;       
}

.button__menu{
    width: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    display: none;
}

.apresentacao {
    position: relative;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5% 2% 5% 10%;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-style: normal;
    font-weight: 400;
    line-height: 3.5rem;
    text-align: left;
    margin-bottom: 10%;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

#nome-autor::after {
    content: "|";
    animation: piscar 1s infinite;
}

@keyframes piscar {
    0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-right: 5%;
    width: 50%;
    margin-right: 0;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    margin-bottom: 15%;
    text-align: justify;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2%;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    border: 2px solid var(--cor-terciaria);
    width: auto;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5% 30%;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-quaternaria);
    scale: 103%;
}

.apresentacao__imagem {
    display: flex;
    width: 48%;
    height: 50%;
    justify-content: left;
    border: 2px solid var(--cor-terciaria);
    border-radius: 1rem;
    padding-top: 0.25rem; 
    padding-right: 0.25rem;
    margin-right: 5%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 2% 10% 2% 15%;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap:2rem;
}

#rodape__alura{
    width: 8.125rem;
    height: 4.625rem;
}

#rodape__senac{
    width: 7.5rem;
    height: 4rem;
}
footer p{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}
.logos{
    display: flex;
    align-items: center;
    gap:4rem;
}

@media(max-width:720px) {
    body{
        margin:0;
        padding: 0;
    }

    #fundo {
        display: none;
    }
    
    .cabecalho {
        margin-left: 76px;
    }

    .menu__list {
        gap: 2.5rem;
        margin-left: 0;
        padding-left: 0;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 1%;
        align-items: left;
        justify-content: center;
        margin:0 0 0 60px;     
   }

    .apresentacao__conteudo {
        margin: 1% 1%;
        padding:0 5% 0 1%;
    }
    
    .apresentacao__conteudo__texto {
        
    }

    .apresentacao__imagem {
        justify-content: center;
        border: 2px solid var(--cor-terciaria);
        position: relative;
    }
       .rodape {  
        flex-direction: column-reverse;
    }

    .rodape p{
        width: 50%;
        font-size: 1rem;
    }
}


@media(max-width:360px) {
   
    header{
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin:0;
    }

    .cabecalho {
        padding: 2%;
    }

    .cabecalho__menu {
        justify-content: center;
        position: relative;
    }
  
    .menu__list__mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 1.5rem 0;
        background-color: #6a6a6aee;
        position: absolute;

    }
    .menu__list{
        display: none;
    }

    .button__menu{
        display: initial;
    }
}



